@model Practice.Mvc5.Models.TestModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .inptxt {
        height: 18px;
        line-height: 18px;
        border: 1px solid #CFCDC7;
        background: none repeat scroll 0% 0% #FFF;
        color: #999;
        padding: 5px 0px 5px 5px;
    }
</style>


</br>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Name, new { @class = "form-control .inptxt " })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Price, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Quantity, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Quantity, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsActive, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.IsActive, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Desc, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Desc, new { @class = "form-control" })
    </div>
</div>


</br>

<div>
    <fieldset>测试</fieldset>
    
</div>